<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <!-- Life would be so much easier if we could just look at the source code! -->
  <title>{{ page.title }} - East African Medical Trust</title>
  <meta name="Title" content="{{ page.title }} - East African Medical Trust" />
  <meta name="Author" content="Paul Hitz" />
  <meta name="Copyright" content="East African Medical Trust" />
  <meta name="Robots" content="INDEX,FOLLOW" />
  <meta name="distribution" content="global" />
  <meta name="Language" content="English" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="description" content="East African Medical Trust - Establishing a centre of medical excellence in care, education and research in Northern Tanzania" />
  <meta name="keywords" content="charity, east, africa, medical, aids, medicine, doctors, neurology, tanzania, william, howlett" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link type="text/plain" rel="author" href="{{ site.baseurl }}humans.txt" />
  <link href="{{ site.baseurl }}resources/styles/styles.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ site.baseurl }}resources/styles/default_font_size.css" rel="stylesheet" type="text/css" media="screen" title="default" />
  <link href="{{ site.baseurl }}resources/styles/medium_font_size.css" rel="alternate stylesheet" type="text/css" media="screen" title="medium" />
  <link href="{{ site.baseurl }}resources/styles/large_font_size.css" rel="alternate stylesheet" type="text/css" media="screen" title="large" />
  <link href="{{ site.baseurl }}resources/styles/print.css" rel="stylesheet" type="text/css" media="print" />
  <link rel="icon" href="{{ site.baseurl }}favicon.ico" type="image/ico" />
  <script type="text/javascript" src="{{ site.baseurl }}resources/scripts/styleswitcher.js"></script>
</head>

<body>

<div id="banner">
  <img src="{{ site.baseurl }}resources/images/logo.png" width="450" height="75" alt="East African Medical Trust" />
</div>

<div id="root">
<div id="navlinks">
  <ul><li><a href="{{ site.baseurl }}index.html" accesskey="i"><em>I</em>ntroduction</a></li><li><a href="{{ site.baseurl }}problem/" accesskey="t"><em>T</em>he Problem</a></li><li><a href="{{ site.baseurl }}objectives/" accesskey="o"><em>O</em>bjectives</a></li><li><a href="{{ site.baseurl }}progress/" accesskey="p"><em>P</em>rogress</a></li><li><a href="{{ site.baseurl }}donations/" accesskey="d"><em>D</em>onations</a></li><li><a href="{{ site.baseurl }}comments/" accesskey="c"><em>C</em>omments</a></li><li><a href="{{ site.baseurl }}contact/" accesskey="u">Contact <em>U</em>s</a></li></ul>
</div>

<div id="content">
