<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <!-- Life would be so much easier if we could just look at the source code! -->
  <title>{{ page.title }} - East African Medical Trust</title>
  <meta name="Title" content="{{ page.title }} - East African Medical Trust" />
  <meta name="Author" content="Paul Hitz" />
  <meta name="Copyright" content="East African Medical Trust" />
  <meta name="Robots" content="INDEX,FOLLOW" />
  <meta name="distribution" content="global" />
  <meta name="Language" content="English" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="description" content="East African Medical Trust - Establishing a centre of medical excellence in care, education and research in Northern Tanzania" />
  <meta name="keywords" content="charity, east, africa, medical, aids, medicine, doctors, neurology, tanzania, william, howlett" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link type="text/plain" rel="author" href="{{ site.baseurl }}/humans.txt" />
  <link href="{{ site.baseurl }}/resources/styles/styles.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ site.baseurl }}/resources/styles/default_font_size.css" rel="stylesheet" type="text/css" media="screen" title="default" />
  <link href="{{ site.baseurl }}/resources/styles/medium_font_size.css" rel="alternate stylesheet" type="text/css" media="screen" title="medium" />
  <link href="{{ site.baseurl }}/resources/styles/large_font_size.css" rel="alternate stylesheet" type="text/css" media="screen" title="large" />
  <link href="{{ site.baseurl }}/resources/styles/print.css" rel="stylesheet" type="text/css" media="print" />
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/ico" />
  <script type="text/javascript" src="{{ site.baseurl }}/resources/scripts/styleswitcher.js"></script>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-266330-3', 'east-african-medical-trust.org');
    ga('send', 'pageview');
  </script>
</head>

<body>

<div id="banner">
  <img src="/resources/images/logo.png" width="450" height="75" alt="East African Medical Trust" />
</div>

<div id="root">
<div id="navlinks">
  <ul><li><a href="{{ site.baseurl }}/index.html" accesskey="i"><em>I</em>ntroduction</a></li><li><a href="{{ site.baseurl }}/problem/" accesskey="t"><em>T</em>he Problem</a></li><li><a href="{{ site.baseurl }}objectives/" accesskey="o"><em>O</em>bjectives</a></li><li><a href="progress/" accesskey="p"><em>P</em>rogress</a></li><li><a href="/donations/" accesskey="d"><em>D</em>onations</a></li><li><a href="/comments/" accesskey="c"><em>C</em>omments</a></li><li><a href="/contact/" accesskey="u">Contact <em>U</em>s</a></li></ul>
</div>

<div id="content">
