---
title: Site Info
---

{% include header.html %}

  <h1>Site Info</h1>
  <p>Site name: East African Medical Trust (Registered Charity CHY-16991)<br/>Site design and implementation by: <a href="http://www.paulhitz.com/">Paul Hitz</a></p>

  <h2>Industry Standards</h2>
  <p>This site fully conforms to the XHTML1.1 and CSS3 standards.</p>
  <p>
    <a href="http://validator.w3.org/check?uri=http://www.east-african-medical-trust.org/"><img style="border: 0; width: 88px; height: 31px;" src="resources/images/valid-xhtml11.png" alt="Valid XHTML 1.1!" /></a> 
    <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.east-african-medical-trust.org/styles/styles.css"><img style="border: 0; width: 88px; height: 31px;" src="resources/images/vcss.png" alt="Valid CSS!" /></a> 
    <a href="http://www.w3.org/WAI/WCAG1A-Conformance" title="Explanation of Level A Conformance"><img style="border: 0; width: 88px; height: 32px;" src="resources/images/wcag1A.png" alt="Level A conformance icon, W3C-WAI Web Content Accessibility Guidelines 1.0" /></a>
  </p>
  <p>More Information:</p>
  <ul>
    <li><a href="http://www.w3.org/TR/2001/REC-xhtml11-20010531/">XHTML 1.1 - Module-based XHTML</a></li>
    <li><a href="http://www.w3.org/TR/CSS/">Cascading Style Sheets Specification - Latest</a></li>
    <li><a href="http://www.w3.org/WAI/">Web Accessibility Initiative (WAI)</a></li>
  </ul>

  <h2>Accessibility</h2>
  <p>This site implements a number of accessibility aids. Each menu item has a access key associated with it. For example, 'i' is associated with the 'Introduction' page.</p>
  <p>The site allows the user to select from 3 different font-sizes (<span style="font-size: small;">small</span>, <span style="font-size: medium;">medium</span> and <span style="font-size: large;">large</span>). The chosen size is persisted and will automatically be used the next time the user visits the site. The font size can also be changed by the browser.</p>

  <h2>Server Configuraton</h2>
  <p>PHP Configuration info is below:</p>
  <iframe style="border: 0;" src="info/info.php" width="100%" height="600"></iframe>

{% include footer.html %}
