---
title: Progress
baseurl: "../"
---

{% include header.html %}

<h1>Progress</h1>

<p><img src="{{ site.baseurl }}resources/images/book_cover.jpg" id="bookCover" alt="Neurology in Africa - Book Cover"/><strong>Neurology in Africa</strong> is a new textbook on neurological disorders in Sub-Saharan Africa. Neurology in Africa is written specifically for medical students and doctors in Africa. The book has 20 chapters divided into two main sections: the first on clinical skills and the second on neurological diseases. The chapters are written in an easy style and are particularly well illustrated with diagrams and pictures appropriate to Africa with many tables and summary key points. The book is free to download.</p>

<ul>
  <li><a href="{{ site.baseurl }}resources/pdf/flyer.pdf">Flyer</a></li>
  <li><a href="{{ site.baseurl }}resources/pdf/poster.pdf">Poster</a></li>
  <li><a href="http://www.uib.no/cih/en/resources/neurology-in-africa">Full textbook available at the University of Bergen</a></li>
</ul>

{% include footer.html %}
