---
title: Objectives
baseurl: "../"
---

{% include header.html %}

  <h1>Objectives</h1>

  <h2>Care</h2>
  <ul>
    <li>Support patient care in Africa</li>
    <li>Develop management guidelines for the main diseases</li>
    <li>Target neurological diseases</li>
  </ul>

  <h2>Education</h2>
  <ul>
    <li>Assist with medical curriculum development, teaching, examinations and quality assurance</li>
    <li>Prepare core lectures on neurophysiology and neurological diseases</li>
    <li>Write textbook/teaching manuals on:
      <ul>
        <li>Neurology in Africa</li>
        <li>Clinical examination</li>
      </ul>
    </li>
    <li>Produce teaching videos on neurological examination &amp; disorders</li>
    <li>Promote links with the following key institutions in East Africa and overseas:
      <ul>
        <li>Makere Medical School, Kampala Uganda</li>
        <li>London School of Tropical Medicine</li>
        <li>Centre for International Health, Bergen, Norway</li>
      </ul>
    </li>
    <li>Develop neurology services at <span class="definition" title="Kilimanjaro Christian Medical Centre">KCMC</span> and Tanzania</li>
    <li>Promote neurological education and training in East Africa</li>
  </ul>

  <h2>Research</h2>
  <ul>
    <li>Carry out and publish hospital and community based studies on neurological disorders in Northern Tanzania</li>
    <li>Supervise students in their research</li>
  </ul>

{% include footer.html %}
